MONGO_URI="mongodb://timer:timer@localhost:27017"
MONGO_DB="timerDb"
MONGO_USER="timer"
MONGO_PASSWORD="timer"

QUEUE_COMPETITION_STARTED_TARGET_CLOCK="competition_started_target_clock"
QUEUE_REGISTRATION_ENDED_CLOCK_TARGET="registration_ended_clock_target"
QUEUE_TIMER_ENDED_CLOCK_SCORE="competition_ended_clock_score"